#landing{
background:url('landing.jpg') center no-repeat;
background-size: cover;
height:600px;
}

#menu{
  color:white;
}

img{
  height:300px;
  width:96%;
}

#contact{
  padding:30px;
  border: 0.5px solid #eee;
  margin:10px;
  background:#ccc;
  margin-bottom:30px;
}

#welcome{
  color: black;
   background:white;
  opacity:0.5;
  padding-top: 200px;
  text-align:center;
}

#slides{
  height:400px;
}

.logo-image{
    width: 56px;
    height: 70px;
    /*border-radius: 50%;*/
    overflow: hidden;
    margin-top: -6px;
  padding-top:10px;
}


#carouselExampleFade{
   width:auto;
  height:200px;
}
