#landing{
background:url('landing.jpg') center no-repeat;
background-size: cover;
height:600px;
}

#contact{
  padding:10px;
  border: 1px solid #eee;
  margin:10px;
  background:#ccc;
}

#welcome{
  color: black;
   background:white;
  padding-top:200px;
  opacity:0.5;
}
